/* -------------------------------------
 * General Style
 * ------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
.topNav{
    padding-right: 0px;
    margin: -8px -8px 0px -8px;
    background: #d9d5d5;
    font-family: "Helvetica Neue", Helvetica, Arial;
    width: auto;
    height: 46px;
}
li {
    float: left;
    list-style-type: none;
}

li a:hover {
    background-color: #d9d5d5;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active {
    background-color: #4CAF50;
}
body{
    background-color: #1C87C8;
}
h2 {
    margin: 2em 0 0 0;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.body{
    padding: 12px;
    margin: 0px -8px -200px -8px ;
    background-color: #1C87C8;
    font-size: 100%;
    font-family: "Noto Sans", sans-serif;
    color: #eee9dc;
    width: auto;
    height: auto;
}
.cvInfo{
    padding: 0px 40px 10px 20px;
}
.socialMedia {
    width: auto;
    height: auto;
    display: inline;
    align-content: center;
}

.fa-linkedin-square {
    color: white;
}
.fa-github{
    color: white;
}


